footer {
    background-color: #1f2124;
    color: #9fa3a9;
    padding: 2px;  /* Reducir aún más el padding */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.footer-column {
    flex: 1;
    margin: 2px;  /* Reducir aún más el margen */
}

.footer-column h3 {
    color: #fff;
    margin-bottom: 2px;  /* Reducir aún más el margen inferior */
    font-size: 16px;  /* Aumentar el tamaño de fuente */
}

.footer-column p,
.footer-column a {
    color: #9fa3a9;
    text-decoration: none;
    margin-bottom: 2px;  /* Reducir aún más el margen inferior */
    font-size: 14px;  /* Aumentar el tamaño de fuente */
}

.footer-column a {
    display: block;
}

.footer-column a:hover {
    color: #fff;
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;  /* Reducir aún más el margen inferior */
}

.social-media ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-media li {
    margin: 0 2px;  /* Reducir aún más el margen */
}

.social-media img {
    width: 30px;  /* Aumentar el tamaño de los iconos */
    height: 30px;
    vertical-align: middle;
    transition: opacity 0.3s;
}

.social-media img:hover {
    opacity: 0.7;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 2px;  /* Reducir el margen superior */
    font-size: 8px;  /* Ajustar el tamaño de la fuente a un valor estándar y legible */
    color: #9fa3a9;
    line-height: 1.1; /* Ajustar el espacio entre líneas */
}

/* Ajustes para pantallas de menos de 768px */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
        padding: 5px 2px;  /* Reducir aún más el padding */
    }

    .footer-column {
        margin: 5px 0;
        text-align: center;
        flex-basis: 100%;
    }

    .social-media ul {
        flex-direction: row;
    }
}

/* Ajustes para pantallas muy pequeñas (móviles de menos de 480px) */
@media (max-width: 480px) {
    footer {
        padding: 2px;  /* Hacerlo aún más compacto */
    }

    .footer-column {
        margin: 2px 0;
    }

    .footer-bottom {
        font-size: 6px;  /* Mantener el tamaño de la fuente pequeño */
        margin-top: 1px;  /* Reducir aún más el margen superior */
    }

    .social-media img {
        width: 20px;  /* Ajustar el tamaño de los iconos */
        height: 20px;
    }
}
