@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
@import 'flowbite/dist/flowbite.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 18px; /* Reducir el tamaño de fuente global */
}

header {
    display: flex;
    flex-direction: column; 
}

.barra-movil {
    height: 10vh;    
    margin-bottom: 20%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background-color: #2f2f2fa5;
}

.logo-container {
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 5%;
}

.imagen-mobile{
    width: 20%;
    border-radius: 100%;
}

.burger-container{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 5%;
}

.menu-button{
    font-size: 45px;
    font-weight:900;
    color: rgb(226, 222, 222)
}

.menu-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    background-color: rgb(0,0,0,80%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.logo{
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagen{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 100%;
}

nav{
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link{
    color: white;
}

.hidde-content{
    display: none;
}

.show-content{
    visibility: visible;
}

@media(min-width: 760px){
    .barra-movil{
        display: none;

    }

    .menu-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: static;
        top: 0px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size:inherit;
    }

    .logo {
        width:20%;
        margin-left: 5%;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .imagen {
        width: 32%;
    }
    
    nav{
        width: 70%;
        margin-right: 12%;
        margin-top: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nav-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
        flex-direction: row;
    }

    .link{
        font-size: 24px;
        text-decoration: none;
        color: white
    }

    .user-logo{
        width:65%;
        border-radius: 50%;
        margin-top: 20%;
    }
}
